﻿body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.top-bar {
    background-color: #f0f0f0;
}

.main-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5px;
}

.container-phone {
    display: flex;
    align-items: center;
    gap: 10px;
}

.container-login {
    display: flex;
    align-items: center;
    gap: 10px;
}


.button {
    padding: 10px 16px;
    border: none;
}

.input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
}


.banner-img {
    display: flex;
    flex-wrap: wrap;
}

    .banner-img img {
        width: 100%;
        height: auto;
    }

.content-barding {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
}

.fa {
    font-size: 15px;
    color: purple;
}

.container-center {
    display: flex;
    flex-direction: row;
}

.main-left {
    display: flex;
    justify-content: left;
    flex-direction: column;
    max-width: 500px;
}

h4 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: brown;
    text-align: left;
    margin-left: 1px 15em 0 2px;
    padding-left: 5px;
}

h3 {
    color: brown;
    text-align: left;
    margin: 0 5px;
    padding: 5px;
}

.main-left p {
    color: black;
    text-align: left;
    margin: 0 5px;
    padding: 2px;
    font-size: 13px;
}

img {
    flex: 1;
    margin: 0 5px;
    overflow: hidden;
}

ul, li {
    text-align: left;
    color: lightgray;
    font-size: 13px;
}

.main-center-top {
    padding-top: 40px;
    max-width: 250px;
    display: flex;
    flex-direction: column;
}

    .main-center-top p {
        text-align: left;
        padding: 1px;
        margin-left: 10px;
    }
